<footer class="footer py-6">
    <div class="content has-text-centered">
      <p>
        <strong>Cine SDE</strong> &copy; 2024. Todos los derechos reservados.
      </p>
      <p>
        <a href="https://twitter.com" target="_blank" class="icon mr-3">
          <i class="fab fa-twitter fa-xl"></i>
        </a>
        <a href="https://facebook.com" target="_blank" class="icon">
          <i class="fab fa-facebook fa-xl"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="icon ml-3">
          <i class="fab fa-instagram fa-xl"></i>
        </a>
      </p>
    </div>
    
    <div class="content has-text-centered">
      <p>
        <a href="/terminos-condiciones" routerLink="/terminos-condiciones">Términos y Condiciones</a> | 
        <a href="/privacidad" routerLink="/privacidad">Política de Privacidad</a> |
        <a href="/contacto" routerLink="/contacto">Contacto</a>
      </p>
    </div>
    
    <div class="content has-text-centered">
      <p>
        <span class="icon"><i class="fas fa-phone-alt"></i></span> +54 11 1234 5678 |
        <span class="icon"><i class="fas fa-envelope"></i></span> contacto&#64;cinesde.com
      </p>
    </div>
  </footer>
  